[submodule "api-gateway"]
	path = api-gateway
	url = git@github.com:A4AD-team/api-gateway.git
	branch = develop
[submodule "auth-service"]
	path = auth-service
	url = git@github.com:A4AD-team/auth-service.git
	branch = develop
[submodule "comment-service"]
	path = comment-service
	url = git@github.com:A4AD-team/comment-service.git
	branch = develop
[submodule "notification-service"]
	path = notification-service
	url = git@github.com:A4AD-team/notification-service.git
	branch = develop
